.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

.container{
  margin: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  width: 50%;
  padding: 2rem;
  object-fit: cover;
  border-radius: 5PX;
}
.btn{
  margin-top: 0.5rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9) ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: purple;
  cursor: pointer;
}
.btn:hover{
  background-color: #fff;
  cursor: pointer;
  color: purple;
}
.button{
  padding: 0.5rem;
  width: 80px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  background-color: purple;
  color: #fff;
}

.intervalle{
  padding: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  color: purple;
}
.intervalle input{
  padding: 15px;
  width: 30px;
  text-align: center;
  margin: 0.5rem;
  border: 0;
  background-color:purple;
  border-radius: 5px;
  color: #fff;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
}